<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMaygKLTxadik1FOpZmi5CgAMAcJutH28</string>
	<key>GCM_SENDER_ID</key>
	<string>237199751471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kindergartenOnline</string>
	<key>PROJECT_ID</key>
	<string>kindergarten-57cc1</string>
	<key>STORAGE_BUCKET</key>
	<string>kindergarten-57cc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237199751471:ios:9bfa3b57dd3e89a9ab49da</string>
</dict>
</plist>